<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankingapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_white">
        <activity android:name=".Payment_status"></activity>
        <activity
            android:name=".splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".user_list"
            android:label="Banking App"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".user_data"
            android:label="User Details"
            android:parentActivityName=".user_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sendtouser"
            android:label="Transfer Money"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".history_list"
            android:label="Transactions"
            android:parentActivityName=".user_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>